SERVICE_BASE64_32_SECRET=senha-para-base-64
SERVICE_FQDN_BUILDER=https://build.seudominio.com
SERVICE_FQDN_MAILDEV=maildev.seudominio.com
SERVICE_FQDN_VIEWER=https://view.seudominio.com
SERVICE_PASSWORD_POSTGRESQL=sua-senha-do-postgreqsl
SERVICE_URL_BUILDER=https://build.seudominio.com
SERVICE_URL_VIEWER=https://view.seudominio.com
SERVICE_USER_POSTGRESQL=typebot_user
ADMIN_EMAIL=email-do-usuario-admin@gmail.com
DEBUG=true
DISABLE_SIGNUP=true
ENCRYPTION_SECRET=${SERVICE_BASE64_32_SECRET}
NEXT_PUBLIC_SMTP_FROM=typebot@seudominio.com
NEXT_PUBLIC_VIEWER_URL=${SERVICE_FQDN_VIEWER}
NEXTAUTH_URL=${SERVICE_FQDN_BUILDER}
PEXELS_API_KEY=YOUR_PEXELS_API_KEY
POSTGRES_DB=typebot
POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRESQL}
POSTGRES_USER=${SERVICE_USER_POSTGRESQL}
REDIS_PASSWORD=seu-redis-password
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/1
SMTP_AUTH_DISABLED=false
SMTP_HOST=seu-smtp-host.brevo.com
SMTP_IGNORE_TLS=true
SMTP_PASSWORD=seu-smtp-password
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USERNAME=seusmtp@smtp-brevo.com
UNSPLASH_ACCESS_KEY=YOUR_UNSPLASH_ACCESS_KEY
UNSPLASH_APP_NAME=Typebot
